* {
  margin: 0;
  padding: 0;
  max-width: 478px;
}
body {
  border: 1px solid red;
}
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.heart-palm {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
  background-image: url("./assets/Rectangle\ 25.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5rem 1rem 2.5rem 1rem;
}

.burger-menu {
  position: absolute;
  top: 4%;
  left: 85%;
  max-width: 20%;
}

.seedling {
  background: #9e6d52;
}

.shovel {
  background: #0a846e;
}
